.blog {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.blog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}